.grid-container {
  height: 55vh;
  width: 800px;
  display: grid;
  grid-gap: 8px;
  background: black;
  padding: 10px;
  grid-template-areas: 
  'w1 w2 w2 w2 w2 w2 w2 w2 w3 w3 w3 w3 w3 w3 w3 w3 w4 y1 '
  'w1 b1 b1 b1 b1 b1 b1 b1 w5 w5 w5 b2 b2 b2 b2 b2 w4 y1 '
  'w1 b1 b1 b1 b1 b1 b1 b1 w5 w5 w5 b2 b2 b2 b2 b2 w4 y1 '
  '. w6 w6 . z2 z2 z2 z3 y2 y2 y2 r2 r2 r2 r2 r3 w4 y1 '
  '. w6 w6 . z2 z2 z2 z3 y2 y2 y2 r2 r2 r2 r2 r3 w4 y1 '
  '. w6 w6 . z2 z2 z2 z3 y2 y2 y2 r2 r2 r2 r2 r3 w4 y1 '
  '. w6 w6 . z2 z2 z2 z3 y2 y2 y2 r2 r2 r2 r2 r3 w4 y1 '
  '. w6 w6 . y3 r4 r4 r4 b3 b3 b3 x4 x4 x4 x4 x3 . . '
  '. w6 w6 . y3 r4 r4 r4 b3 b3 b3 x4 x4 x4 x4 x3 . . '
  'w7 r1 r1 . y4 h1 h1 h1 h1 h1 h2 h2 h2 b4 b4 y5 x1 x1 '
  'w7 r1 r1 . y4 h1 h1 h1 h1 h1 h2 h2 h2 b4 b4 y5 x1 x1 '
  'w7 r1 r1 . y4 h1 h1 h1 h1 h1 h2 h2 h2 b4 b4 y5 x1 x1 '
  'w7 r1 r1 . y4 r5 r5 r5 . . . . . x2 x2 x2 x2 x2 '
  'z1 z1 z1 z1 y4 r5 r5 r5 . . . . . x2 x2 x2 x2 x2 '
  
  

}

.item1, .item2, .item3, .item4, .item7, .item9, .item11, .item12, .item13, .item14, .item23, .item24, .item27, .item28, .item29, .item30 {
 background: whitesmoke;
}

.item5, .item15, .item18, .item19, .item26 {
  background: yellow;
}

.item6, .item8, .item21, .item25 {
  background:navy;
}

.item10, .item16, .item17, .item20, .item22 {
  background: red;
}

.item1 {
  grid-area: w1;
}

.item2 {
  grid-area: w2;
}

.item3 {
  grid-area: w3;
}

.item4 {
  grid-area: w4;
}

.item5 {
  grid-area: y1;
}

.item6 {
  grid-area: b1;
}

.item7 {
  grid-area: w5;
}

.item8 {
  grid-area: b2;
}

.item9 {
  grid-area: w6;
}

.item10 {
  grid-area: r1;
}

.item11 {
  grid-area: w7;
}

.item12 {
  grid-area: z1;
}

.item13 {
  grid-area: z2;
}

.item14 {
  grid-area: z3;
}

.item15 {
  grid-area: y2;
}

.item16 {
  grid-area: r2;
}

.item17 {
  grid-area: r3;
}

.item18 {
  grid-area: y3;
}

.item19 {
  grid-area: y4;
}

.item20 {
  grid-area: r4;
}

.item21 {
  grid-area: b3;
}

.item22 {
  grid-area: r5;
}

.item23 {
  grid-area: h1;
}

.item24 {
  grid-area: h2;
}

.item25 {
  grid-area: b4;
}

.item26 {
  grid-area: y5;
}

.item27 {
  grid-area: x1;
}

.item28 {
  grid-area: x2;
}

.item29 {
  grid-area: x3;
}

.item30 {
  grid-area: x4;
}