.grid-container {
  height: 55vh;
  width: 800px;
  display: grid;
  grid-gap: 8px;
  background: black;
  padding: 10px;
  grid-template-areas: 
  'w1 w2 w2 w2 w2 w2 w2 w2 w3 w3 w3 w3 w3 w3 w3 w3 w4 y1 '
  'w1 b1 b1 b1 b1 b1 b1 b1 w5 w5 w5 b2 b2 b2 b2 b2 w4 y1 '
  'w1 b1 b1 b1 b1 b1 b1 b1 w5 w5 w5 b2 b2 b2 b2 b2 w4 y1 '
  '. w6 w6 . z2 z2 z2 z3 y2 y2 y2 r2 r2 r2 r2 r3 w4 y1 '
  '. w6 w6 . z2 z2 z2 z3 y2 y2 y2 r2 r2 r2 r2 r3 w4 y1 '
  '. w6 w6 . z2 z2 z2 z3 y2 y2 y2 r2 r2 r2 r2 r3 w4 y1 '
  '. w6 w6 . z2 z2 z2 z3 y2 y2 y2 r2 r2 r2 r2 r3 w4 y1 '
  '. w6 w6 . y3 . . . . . . . . . . . . . '
  '. w6 w6 . y3 . . . . . . . . . . . . . '
  'w7 r1 r1 . y4 . . . . . . . . . . . . . '
  'w7 r1 r1 . y4 . . . . . . . . . . . . . '
  'w7 r1 r1 . y4 . . . . . . . . . . . . . '
  'w7 r1 r1 . y4 . . . . . . . . . . . . . '
  'z1 z1 z1 z1 y4 . . . . . . . . . . . . . '
  
  

}

.item1, .item2, .item3, .item4, .item7, .item9, .item11, .item12, .item13, .item14 {
 background: white;
}

.item5, .item15, .item18, .item19 {
  background: yellow;
}

.item6, .item8 {
  background: blue;
}

.item10, .item16, .item17 {
  background: red;
}

.item1 {
  grid-area: w1;
}

.item2 {
  grid-area: w2;
}

.item3 {
  grid-area: w3;
}

.item4 {
  grid-area: w4;
}

.item5 {
  grid-area: y1;
}

.item6 {
  grid-area: b1;
}

.item7 {
  grid-area: w5;
}

.item8 {
  grid-area: b2;
}

.item9 {
  grid-area: w6;
}

.item10 {
  grid-area: r1;
}

.item11 {
  grid-area: w7;
}

.item12 {
  grid-area: z1;
}

.item13 {
  grid-area: z2;
}

.item14 {
  grid-area: z3;
}

.item15 {
  grid-area: y2;
}

.item16 {
  grid-area: r2;
}

.item17 {
  grid-area: r3;
}

.item18 {
  grid-area: y3;
}

.item19 {
  grid-area: y4;
}